$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//COLORS

$brand-color: #003581;
$primary-color: #333;

//SITE HEADER

header {
    background-color: $brand-color;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.logo {
padding: 20px 0;
}

.siga {
    @extend .logo;
    float: left;
}

.gov {
    @extend .logo;
    float: right;
}