$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//COLORS

$brand-color: #003581;
$primary-color: #333;



//GLOBAL STYLES

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background: url(../images/bodyBg.png);
}

//SITE HEADER

header {
    background-color: $brand-color;
   /* position: fixed; tirei pois o header tem que rolar até ele se transformar depois.*/   
   top: 0;
    width: 100%;
    z-index: 10;
}

.logo {
padding: 20px 0;
}

.siga {
    @extend .logo;
    float: left;
}

.gov {
    @extend .logo;
    float: right;
}

//HEADER > NAVBAR

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default {
    background-color: #ebebeb;
    padding: 2px 0 5px 0;
}

.navbar-nav{

    > li >a {
          position: relative;
          display: block;
          padding: 8px 10px;
          -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background-color: #f6f6f6;
            border-color: #CFCFCF #D6D6D6 #C8C8C8;
            border-image: none;
            border-style: solid;
            border-width: 1px;
            border-radius: 5px;
            box-shadow: 0 1px #FFFFFF inset, 0 0 0 1px rgba(255, 255, 255, 0.7) inset, 0 2px #DADADA, 0 3px #C4C4C4, 0 4px 3px rgba(0, 0, 0, 0.1);
        }
    
}

    .breadcrumb {
        background: url(../images/paper.png) #ACC2CF;
        font-size: 12px;
        height: 34px;
        list-style: none outside none;
        margin-bottom: 0;
        padding: 2px 0 2px 30px;
        width: 100%;
        border-radius: 0;

        li {
        background:url(../images/back-breadcrumb-arrow.png) no-repeat scroll right center rgba(255, 255, 255, 1);
        float: left;
        height: 30px;
        padding: 0 28px 0 10px;

        }

        li:last-child {
          background:url(../images/back-breadcrumb-arrow-last.png) no-repeat scroll right center rgba(255, 255, 255, 1);}
        li a {
          color: #757F8C;
          display: block;
          height: 40px;
          line-height: 30px;
          text-shadow: 0 1px #FEFEFF;
        }
    }

//MAIN CONTAINER

    main.container { margin-top: 40px; }

//PAINEL

.panel {
    background-color: #F2F3F4;
    border: 1px solid #CFCFCF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px white inset, 0 0 0 1px rgba(255, 255, 255, 0.7) inset, 0 2px #DADADA, 0 3px #C4C4C4, 0 4px 3px rgba(0, 0, 0, 0.1);
    color: #333;
    font-family: arial;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 0px;
    position: relative;
    clear: both;
    width: 100%;
}

//PAINEL > HEADER

.panel-header {
    font-size: 14px;
    padding: 6px 12px;
    position: relative;
    background-color: #ebebeb;
    border-bottom: 2px solid #5276aa;
    color: #003581;
}

.panel-header {
    padding: 6px 12px;
    position: relative;
    background-color: #ebebeb;
    border-bottom: 2px solid #5276aa;
    color: #003581;
}

.panel-header h1 {
    font-size: 15px;
    padding: 8px 14px 0 0;
    margin: 0;
}