/* GLOBAL STYLES
-------------------------------------------------- */

/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    background: none repeat scroll 0 0 #003581;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}
.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
}
/* Declare heights because of positioning of img element */

.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}
/* User BOX CONTENT
-------------------------------------------------- */

.user-box {
    height: 65px;
    position: absolute;
    right: 300px;
}
.user-box-inner {
    display: inline-block;
    text-align: left;
}
.user-box .user-avatar {
    display: block;
    float: left;
    margin-right: 10px;
    max-width: 40px;
    position: relative;
    top: 2px;
}
.user-box .user-info {
    display: inline-block;
    padding: 10px 20px 0 0;
    color: #fff;
}
.user-box .user-info ul {
    line-height: 15px;
    margin: 0;
    padding-left: 0;
}
.user-box .user-info li {
    display: inline;
    font-size: 11px;
}
.user-box .user-info li a {
    color: #3699D2;
}
.img-avatar {
    background: none repeat scroll 0 0 #5276aa;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    padding: 2px;
}
.actions {
    position: fixed;
    right: 85px;
    top: 102px;
    z-index: 100;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */

.basicContent {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 120px;
}
/* Center align the text within the three columns below the carousel */

.basicContent .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
}
.basicContent h2 {
    font-weight: normal;
}
.basicContent .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}
#panels {
    background-color: #F2F3F4;
    border: 1px solid #CFCFCF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px white inset, 0 0 0 1px rgba(255, 255, 255, 0.7) inset, 0 2px #DADADA, 0 3px #C4C4C4, 0 4px 3px rgba(0, 0, 0, 0.1);
    color: #333;
    font-family: arial;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 0px;
    position: relative;
    clear: both;
    width: 100%;
}
#panelsModal {
    background-color: #F2F3F4;
    border: 1px solid #CFCFCF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px white inset, 0 0 0 1px rgba(255, 255, 255, 0.7) inset, 0 2px #DADADA, 0 3px #C4C4C4, 0 4px 3px rgba(0, 0, 0, 0.1);
    color: #333;
    font-family: arial;
    font-size: 14px;
    margin-bottom: 0;
    padding: 5px;
    position: relative;
    clear: both;
    width: 100%;
    display: table;
}
.modal-body {
    padding: 0;
}
.panel-header {
    font-size: 14px;
    padding: 6px 12px;
    position: relative;
    background-color: #ebebeb;
    border-bottom: 2px solid #5276aa;
    color: #003581;
}
.panel-header img, .panel-headerAbas img {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
.panel-header span, .panel-headerAbas span {
    font-size: 15px;
    padding: 8px 14px 0 0;
}
.mws-panel-content p {
    padding: 20px;
}
.grabhandle {
    float: left;
    padding: 0;
    width: 25px;
}
.resultado {
    -moz-box-sizing: border-box;
    background: #EDEFF0;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    color: #323232;
    cursor: pointer;
    float: left;
    margin: 5px 0 0 5px;
    padding-right: 6px;
    padding-left:6px;
    padding-top:3px;
    padding-bottom:3px;
    text-decoration: none;
    position: relative;
}
.resultado img {
	display:none;
}
.botaoMais {
    float: right;
    margin: 5px;
    padding-left: 7px;
    white-space: nowrap;
    color: #428bca;
}
.botaoVoltar {
    float: right;
    margin: 5px;
}
.tooltip-inner {
    position: absolute;
    display: block;
    height: 550px;
    width: 550px;
    background: rgb(0, 0, 0);
}
.infor {
    height: auto;
    display: table;
}
div.toolbar {
    background-color:#e3e3e3;
    border-bottom: 1px solid #DDDDDD;
}
div.toolbar.bottom {
    border-top: 1px solid #DDDDDD;
}
div.toolbar ul, div.toolbar ul li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
div.toolbar.right ul {
    float: right;
}
div.toolbar ul {
    float: left;
    padding-left:4px;
    padding-bottom:2px;
}
div.toolbar.right ul li {
    border-left: 1px solid #D0D0D0;
    border-right: 0 none;
}
div.toolbar ul li {
    border: 1px solid #D0D0D0;
    display: block;
    float: left;
    margin-top: 4px;
    margin-bottom: 1px;
}
div.toolbar ul li a, div.toolbar ul li span {
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.75) inset, 0 1px 0 #FFFFFF inset;
    color: #666666;
    cursor: pointer;
    display: block;
    padding: 6px;
    text-decoration: none;
    background-color:#fff;
}
div.toolbar ul li a img{
   display:none;
}
div.toolbar ul li a.mws-ic-16, div.toolbar ul li span.mws-ic-16 {
    background-position: 12px center;
    padding-left: 32px;
}
div.toolbar ul li a:active, div.toolbar ul li span:active {
    background-color: #EFEFEF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) inset !important;
}
.toolbar-row {
    border-top: 1px solid #bcbcbc;
    text-align: right;
    background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25)) repeat scroll 0 0 transparent;
    /*margin-top:20px;*/
}
.panel-headerAbas {
    background-color: #208BBD;
    color: #FFFFFF;
    font-size: 14px;
    height: 75px;
    padding: 6px 12px;
    position: relative;
}
#myTab li a {
    box-shadow: none;
}
div.addmenu {
    position: relative;
    right: 1px;
    text-align: right;
    top: -15px;
}
div.addmenu img {
    display:none;
}
div.addmenu a {
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    box-shadow: 0 1px #FFFFFF inset, 0 0 0 1px rgba(255, 255, 255, 0.7) inset, 0 2px #DADADA, 0 2px #C4C4C4, 0 2px 3px rgba(0, 0, 0, 0.1);
    padding: 6px;
}
div.addmenuFooter {
    margin: 15px 5px 5px;
    text-align: right;
}
div.addmenuFooter img {
    display:none;
}
div.addmenuFooter a {
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    box-shadow: 0 1px #FFFFFF inset, 0 0 0 1px rgba(255, 255, 255, 0.7) inset, 0 2px #DADADA, 0 2px #C4C4C4, 0 2px 3px rgba(0, 0, 0, 0.1);
    padding: 6px;
}
.itemDetalhes {
    float: left;
    margin-left: 12px;
    width: 48%;
}
.rowSep + .rowSep {
    border-top: 1px dashed #DDDDDD;
}
.rowSep {
    clear: both;
    padding: 3px 5px;
}
.muted {
    color: #999999;
}
small {
    font-size: 11px;
}
div.tab-pane h4 {
    margin: 0;
}
h4.tituloAbas {
    font-size: 16px;
    left: 2px;
    position: relative;
    top: -15px;
}
.textinput {
    width: 40%;
}
.textinput {
    width: 40%;
}
input.data {
    width: 20%;
}
.separador-rowold {
    border-bottom: 1px solid #BCBCBC;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
}
.separador-row {
    background-color: #f5f5f5;
    border-color: #368ca9 #dddddd #dddddd;
    border-top: 2px solid #368ca9;
    color: #333333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}
.separador-title {
    border-top: 0px;
}
.separador-row span {
    color: #208BBD;
    font-size: 14px;
    font-weight: bold;
}
.button-row.left {
    text-align: left;
}
.button-row {
    padding: 10px 24px 0;
    border-top: 1px solid #bcbcbc;
    text-align: right;
    background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25)) repeat scroll 0 0 transparent;
    margin-top: 20px;
}
.button {
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-family: 'PTSansRegular', Arial, Helvetica, sans-serif;
    margin: 2px;
    outline: medium none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    font-size: 12px;
    height: 23px;
    text-align: center;
    width: 120px;
}
.button.red {
    background-color: #BC4343;
    background-image: linear-gradient(#CA4E4E, #BC4343);
    border: 1px solid #762929;
    color: #FFFFFF;
}
.button.green {
    background-color: #99C100;
    background-image: linear-gradient(to bottom, #B2D000, #74AA00);
    background-repeat: repeat-x;
    border: 1px solid #323e03;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.button.gray {
    background-color: #E0E0E0;
    background-image: linear-gradient(#E8E5E5, #E0E0E0);
    border: 1px solid #ABABAB;
    color: #666666;
    text-shadow: none;
}
.button.blue {
    background-color: #253b7e;
    background-image: linear-gradient(#253b7e, #425592);
    border: 1px solid #253b7e;
    color: #fff;
    text-shadow: none;
}
.fleft {
    float: left;
}
.filter-input {
    margin-left: 10px;
    width: 70%;
    font-size: 10px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Remove the edge padding needed for mobile */
    .basicContent {
        padding-left: 0;
        padding-right: 0;
        margin-top: 140px;
    }
    /* logo positioning foo */
    .logosiga {
        position: fixed;
        float: left;
        top: 10px;
    }
    .gov {
        position: absolute;
        right: 30px;
        top: 15px;
        width: 257px;
    }
    /* Navbar positioning foo */
    .navbar-wrapper {
        background: url(../images/fundo.jpg) repeat-x;
        padding-top: 20px;
        position: fixed;
        height: 150px;
    }
    .navbar-wrapper .container {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
    }
    .navbar-wrapper .navbar {
        padding-left: 0;
        padding-right: 0;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        position: relative;
        top: 74px;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}
@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}
footer {
    font-size: 0.8em;
    padding-top: 10px;
    margin-top: 50px;
    border-top: 1px solid #c5c5c5;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
table.dataTable:not(#dataTable-historico) thead th:first-child, table.dataTable:not(#dataTable-historico) tbody tr td:first-child {
    text-align: center;
    padding: 8px;
}
table.dataTable:not(#dataTable-historico) tbody tr td:last-child {
    text-align: center;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
    background-color: #f2f3f4;
}
table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting {
    cursor: pointer;
    *cursor: hand;
}
table.dataTable thead .sorting {
    background: url("../images/sort_both.png") no-repeat right;
}
table.dataTable thead .sorting_asc {
    background: url("../images/sort_asc.png") no-repeat right;
}
table.dataTable thead .sorting_desc {
    background: url("../images/sort_desc.png") no-repeat right;
}
table.dataTable thead .sorting_asc_disabled {
    background: url("../images/sort_asc_disabled.png") no-repeat right;
}
table.dataTable thead .sorting_desc_disabled {
    background: url("../images/sort_desc_disabled.png") no-repeat right;
}

.bootstrap-richtext {
  max-height: 250px;
  height: 250px;
  background-color: white;
  border-collapse: separate; 
  border: 1px solid rgb(204, 204, 204); 
  padding: 4px; 
  box-sizing: content-box; 
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px; border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}